<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Disertatie</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>profileOperations.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>profileOperations.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>profileOperations.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheamaCurierServlet</servlet-name>
    <servlet-class>publicSide.CheamaCurierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheamaCurierServlet</servlet-name>
    <url-pattern>/CheamaCurierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerareEtichetaServlet</servlet-name>
    <servlet-class>generareEtichetaColet.GenerareEtichetaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerareEtichetaServlet</servlet-name>
    <url-pattern>/GenerareEtichetaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerificareColetServlet</servlet-name>
    <servlet-class>publicSide.VerificareColetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificareColetServlet</servlet-name>
    <url-pattern>/VerificareColetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerarePDF</servlet-name>
    <servlet-class>generareEtichetaColet.GenerarePDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarePDF</servlet-name>
    <url-pattern>/GenerarePDF</url-pattern>
  </servlet-mapping>
</web-app>